#s-f93cfc96-e701-4796-a74f-14e59c0f6151 #s-Rectangle_Toptap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f93cfc96-e701-4796-a74f-14e59c0f6151 #s-Image_Cancel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_Topbackground_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_BtnAccept {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_Selection {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10) ;
  filter: alpha(opacity=10) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10) ;
  filter: alpha(opacity=10) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_50 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75) ;
  filter: alpha(opacity=75) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Image_44 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Text_Customerhead_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Text_Customerhead_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_13 {
  rotation: 90.0;
  margin-left: 19px;
  margin-top: -20px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f93cfc96-e701-4796-a74f-14e59c0f6151 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}