#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_Topbackground_1 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_BtnAccept {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_1 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_1 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_2 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_2 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_3 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_3 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_4 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_4 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_5 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_5 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_6 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_6 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_7 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_7 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_8 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_8 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_Selection {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  filter: alpha(opacity=10);
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_22 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_23 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_26 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_27 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_28 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_29 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_30 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_31 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_32 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_9 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_9 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_10 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_10 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_11 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_11 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_12 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_12 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  filter: alpha(opacity=10);
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_33 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_34 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_35 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_36 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_37 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_38 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_39 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_40 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_41 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_42 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_43 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_44 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_45 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_46 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_47 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_48 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_49 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_50 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_51 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Image_44 {
  -ms-transform: rotate(180.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Text_Customerhead_5 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Text_Customerhead_4 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(90.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(90.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}