#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_Topbackground_1 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_BtnAccept {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_1 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_1 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_2 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_2 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_3 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_3 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_4 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_4 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_5 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_5 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_6 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_6 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_7 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_7 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_8 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_8 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_Selection {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  filter: alpha(opacity=10);
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_22 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_23 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_26 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_27 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_28 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_29 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_30 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_31 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_32 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_9 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_9 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_10 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_10 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_11 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_11 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_12 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_12 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #32383D;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  filter: alpha(opacity=10);
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_33 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_34 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_35 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_36 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_37 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_38 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_39 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_40 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_41 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_42 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_43 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_44 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_45 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_46 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_47 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_48 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_49 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_50 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_51 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Image_44 {
  -ms-transform: rotate(180.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Text_Customerhead_5 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Text_Customerhead_4 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(90.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(90.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}